extends ../layout

block content
 .mdl-grid
   .mdl-cell.mdl-cell--4-col
   .mdl-cell.mdl-cell--4-col
    .mdl-card.mdl-shadow--8dp#card-login
     form#form-login(method='POST', action='/login', role='login')
      .center-block
       img.img-responsive(src='http://www.soma.com.br/wp-content/themes/soma/_/img/soma.png', alt='')
      .mdl-textfield.mdl-js-textfield
       input.mdl-textfield__input(type='text', name='username', placeholder='Usuário', required='', value='admin')
      .mdl-textfield.mdl-js-textfield
       input#password.mdl-textfield__input(type='password', name='password',placeholder='Senha', required='')  
      .pwstrength_viewport_progress
      button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored#btn-login(type='submit', name='go') Login
     .form-links
      ul
       li 
        a(href='www.soma.com.br') SOMA
       li
        a(href='recovery') Recuperar senha
       li
        a(href='join') Cadastro
   .mdl-cell.mdl-cell--4-col