extends ../layout
block content
 .container
    .row
        .col-sm-4
        |     
        |     
        .col-sm-4
          #form-login
            form(method='post', action='/recovery/confirm', role='login')
              img.img-responsive(src='http://www.soma.com.br/wp-content/themes/soma/_/img/soma.png', alt='', class='center-block')
              h5(class='text-center text-uppercase text-muted') Íntegro
              h4 #{user.name}
              label Nova senha          
              input(type='hidden', name='username', value="#{user.attributes.username}")
              input(type='hidden', name='recoveryhash', value="#{hash}")
              input.form-control.input-lg(type='password', name='password', placeholder='Usuário', required='')
              |           
              |           
              |           
              .pwstrength_viewport_progress
              |           
              |           
              |      
              button.btn.btn-lg.btn-primary.btn-block(type='submit', data-toggle='modal', data-target='#loading') Salvar alteração
 include ../partials/_loading