#loading.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loadingLabel')
 .modal-dialog(role='document', style="width: 200px; height:200px;")
  .modal-content
   .modal-header
    button.close(type='button', data-dismiss='modal', aria-label='Close')
    h4#loadingLabel.modal-title Processando solicitação
   .modal-body
    img.img-responsive.center-block(src="/images/circle-loading-gif.gif", style="width: 100px; height:100px;")