doctype html
html(lang='pt-BR')
  head
    title SOMA
    include ../sys/partials/_resources
  body(id="page-public")
    header
    main
      block content
    footer
      include ../partials/_footer