extends layout

block content
 #page-404.mdl-grid
  .mdl-cell.mdl-cell--2-col
  .mdl-cell.mdl-cell--8-col
   h1
    i.mdi.mdi-close-network
    span 404
   .links-404
    a(href="/home") Início 
    span | 
    a(href="#", onclick="history.go(-1)") Voltar 
  .mdl-cell.mdl-cell--2-col