extends layouts/wide
block	content
  #page-frontpage
    #section-header
      .title-image-caption
        h1 Íntegro
    #section-links
      .container
        .row
          .col-sm-3.col-xs-6
           .panel.text-center
              i.fa.fa-paperclip
              h4
                a(href="/join") Matrícula
          .col-sm-3.col-xs-6
           .panel.text-center
              i.fa.fa-database
              h4
                a(href="/login") SIA
          .col-sm-3.col-xs-6
           .panel.text-center
              i.fa.fa-balance-scale
              h4
                a(href="/finance") Financeiro
          .col-sm-3.col-xs-6
           .panel.text-center
              i.fa.fa-institution
              h4
                a(href="http://www.soma.com.br") Website