doctype html
html(lang='pt-BR' ng-app="integro")
 head
  title SOMA
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="/javascripts/jquery-2.1.4.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/angular2/angular2-polyfills.js")
  script(src="https://code.angularjs.org/tools/system.js")
  script(src="https://code.angularjs.org/2.0.0-beta.1/Rx.umd.js")
  script(src="/angular2/angular2.dev.js")
  script(src="/ng/component/frontpage.component.js")
  script(src="/ng/boot.js")
 body
  .container-fluid
   .row
    .col-sm-12
     include partials/_notify
     block content
  include partials/_footer