doctype html
html(lang='pt-BR' ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app ng-controller="MyController")
    include partials/header
    .container-fluid
        block content
    include partials/footer