doctype html
html(lang='pt-BR' ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app ng-controller="MyController")
    .container-fluid
        block content