table(ng-controller='table-contents')
 thead
  tr
   th
   th
   th
   th
   th
 tbody
  tr(ng-repeat="content in contents")
   td {{ content.name }}
   td {{ content.discipline.name }}
   td {{ content.date }}
 tfoot
  tr
   td
   td
   td
   td
   td