footer.footer1
      .container
        .row
          .col-lg-3.col-md-3
          .col-lg-3.col-md-3
          .col-lg-3.col-md-3
          .col-lg-3.col-md-3
           ul.list-unstyled.clear-margins
            li.widget-container.widget_nav_menu
             span Ambiente monitorado