#warnings.modal.show(tabindex='-1', role='dialog', aria-labelledby='warningsLabel')
 .modal-dialog(role='document')
  .modal-content
   .modal-header
    button.close(type='button', data-dismiss='modal', aria-label='Close')
     span(aria-hidden='true') ×
    h4#warningsLabel.modal-title Notícias & Avisos
   .modal-body
    warnings
     ul
      li(*ng-for="#warning of listings") {{ warning }}
   .modal-footer
    button.btn.btn-default(type='button', data-dismiss='modal') Fechar