meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/font-awesome-4.5.0/css/font-awesome.min.css', media="all") 
link(rel='stylesheet', href='/stylesheets/style.css')
script(src="/es6-shim/es6-shim.js")
script(src="/angular2js/angular2-polyfills.js")
script(src="/systemjs/system.js")
script(src="/javascripts/rx.js")
script(src="/angular2js/angular2.dev.js")
script(src="/javascripts/jquery-2.1.4.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/private.js")
script(src="/ng/tsbootconfig.ts")
<!--[if IE]>
script(type='text/javascript' src="/sites/all/themes/bootstrap_subtheme/js/css3-mediaqueries.js")
script(type='text/javascript' src="/sites/all/themes/bootstrap_subtheme/js/html5.js")
script(type='text/javascript' src="/sites/all/themes/bootstrap_subtheme/js/respond.min.js")
<![endif]-->