footer.footer1
      .container
        .row
          // row
          .col-lg-3.col-md-3
            // widgets column left
            ul.list-unstyled.clear-margins
              // widgets
              li.widget-container.widget_nav_menu
                // widgets list
                h1.title-widget Useful links
                |                                 
                |                                 
                ul
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  About Us
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  Contact Us
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  Success Stories
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  PG Courses
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  Achiever&apos;s Batch
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   Regular Batch
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   Test &amp; Discussion
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   Fast Track T &amp; D
          // widgets column left end
          .col-lg-3.col-md-3
            // widgets column left
            ul.list-unstyled.clear-margins
              // widgets
              li.widget-container.widget_nav_menu
                // widgets list
                h1.title-widget Useful links
                |                                 
                |                                 
                ul
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   Test Series Schedule
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   Postal Coaching
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   PG Dr. Bhatia Books
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   UG Courses
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   Satellite Education
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   Study Centres
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   State P.G. Mocks
                  |                                     
                  li
                    a(href='#', target='_blank')
                      i.fa.fa-angle-double-right
                      |  Results
          // widgets column left end
          .col-lg-3.col-md-3
            // widgets column left
            ul.list-unstyled.clear-margins
              // widgets
              li.widget-container.widget_nav_menu
                // widgets list
                h1.title-widget Useful links
                |                                 
                |                                 
                ul
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  Enquiry Form
                  |  &#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  Online Test Series
                  | &#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  Grand Tests Series
                  | &#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  Subject Wise Test Series
                  | &#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  Smart Book
                  | &#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |  Test Centres
                  |                 
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   Admission Form
                  | &#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-angle-double-right
                      |   Computer Live Test
          // widgets column left end
          .col-lg-3.col-md-3
            // widgets column center
            ul.list-unstyled.clear-margins
              // widgets
              li.widget-container.widget_recent_news
                // widgets list
                h1.title-widget Contact Detail 
                |                                 
                |                                 
                .footerp
                  h2.title-median Webenlance Pvt. Ltd.
                  |                                 
                  p
                    b Email id:
                    |  
                    a(href='mailto:info@webenlance.com') info@webenlance.com
                  |                                 
                  p
                    b Helpline Numbers 
                    |     
                    b(style='color:#ffc106;') (8AM to 10PM):
                    |   +91-8130890090, +91-8130190010
                  |     
                  |     
                  p
                    b Corp Office / Postal Address
                  |     
                  p
                    b Phone Numbers : 
                    | 7042827160,
                  |     
                  p  011-27568832, 9868387223
                |                                 
                |                                 
                .social-icons
                  ul.nomargin
                    a(href='https://www.facebook.com/bootsnipp')
                      i#social.fa.fa-facebook-square.fa-3x.social-fb
                    | &#x9;            
                    a(href='https://twitter.com/bootsnipp')
                      i#social.fa.fa-twitter-square.fa-3x.social-tw
                    | &#x9;            
                    a(href='https://plus.google.com/+Bootsnipp-page')
                      i#social.fa.fa-google-plus-square.fa-3x.social-gp
                    | &#x9;            
                    a(href='mailto:bootsnipp@gmail.com')
                      i#social.fa.fa-envelope-square.fa-3x.social-em
script(src="javascripts/jquery-2.1.4.min.js")
script(src="javascripts/bootstrap.min.js")
script(src="javascripts/angular.min.js")