#form-login{
	margin-top: 20%;

	h5{
		line-height: 3em;
	}

	.btn{
		margin:24px 0px;
	}

	ul{
		list-style: none;
	}
}

.mgn-v{
	margin-top: 12px;
	margin-bottom: 12px;
}

.mgn-h{
	margin-left: 12px;
	margin-right: 12px;
}