html{
    height:100%;
}
body{
    height:100%;
}

dl{

    dt{
        background-color: #EAEAEA;
    }
    dd{
        margin: 6px 3px 18px 3px;
    }
}

.section-title{
    border-bottom: 1px dotted gray;
    height: 1.2em;
    margin: 24px 6px 36px 6px;
    h4{
        text-align: center;
        text-transform: uppercase;
        background-color: #fff;
        width: 48%;
        margin: 0px auto;
        border: 1px dotted gray;
        padding: 6px 0px;
        font-weight: 300;
    }
}

#page-frontpage{
    div#section-header{
        background-image: url('../images/student-1.jpg');
        padding: 48px 0px;
        min-height: 256px;
    }
    div#section-links{}
    div#section-images{}
    div#section-news{}
    div#section-footer{}
}
#page-content{
    height:80%;
}
#form-login{
    margin-top: 20%;

    h5{
        line-height: 3em;
    }

    .btn{
        margin:24px 0px;
    }

    ul{
        list-style: none;
    }
}

.mgn-v{
    margin-top: 12px;
    margin-bottom: 12px;
}

.mgn-h{
    margin-left: 12px;
    margin-right: 12px;
}

.modal {    
    background-color: #fff;
    bottom: 0;
    height: 0vh;
    overflow-y: auto;
    position: fixed;
    transition: height .25s;
    width: 100vw;
    z-index: 4;

    &.is-visible {
        height: 100vh;
    }
}