html{
    height:100%;
}

main{

}

.hide{
    display: none !important;
}

#mobile-devices{
    margin: 0px auto;
    width: 40%;
    font-size: 36px;
    margin-top: 10%;
    text-align: center;

    .mdi{
        color: #C0C0C0;
        text-shadow: 1px 1px white, -1px -1px #888;
        letter-spacing: 16px;
    }
}

#card-login{
    margin-top:15%;
    padding: 12px;

    input{
        height: 48px;
    }

    #btn-login{
        margin: 12px;
        float: right;
    }

    ul{
        list-style: none;

        a{
            text-decoration: none;
        }
    }
}

#page-frontpage{
    #section-header{
        background-image: url('../images/student-1.jpg');
        background-size: cover 100%;
        background-position: 0px -50px;
        padding: 48px 0px;
        min-height: 256px;
        width:100%;
    }
    #section-links{
        margin: 12px 0px;
        .panel{
            padding: 24px 0px;
            margin: 24px 0px;
            i.fa{
                    font-size: 4.5em;
            }
            h4{
                line-height: 2em;
            }
        }
    }

    #section-images{}
    #section-news{}
    #section-footer{}
}
.list-examination{
    th{
        .link-bound{
            color: rgb(76,175,80);
        }
        .link-bind{

        }
    }
}

.list-media{
    overflow-y: scroll;
    dt{
        border-left: 3px solid rgb(68,138,255);
        float: left;
        padding: 3px 6px;
    }
    dd{
        margin: 8px;
        strong{
            font-size: 12px;
        }
        small{
            font-size: 0.7em;
        }
    }
}

.t-c{
    text-align:center;
}

.title-image-caption{
    background: rgba(000,000,000, 0.3);
    text-align:center;
    padding: 6px 0px;
    margin-top: 10%;
    h1{
        color: #fff;
        font-family: Devroye, Verdana;
    }
}

.center-block{
    margin: 0px auto;
    text-align:center;
}

.section-title{
    border-bottom: 1px dotted gray;
    height: 1.2em;
    margin: 36px 6px 72px 6px;
    h4{
        font-family: Devroye, Verdana;
        text-align: center;
        background-color: #fff;
        color: #A0A0A0;
        width: 48%;
        margin: 0px auto;
        border: 1px dotted gray;
        padding: 6px 0px;
        font-weight: 300;
        font-size: 1.5em;
    }
}

#page-content{
    height:90%;
    width:100%;
}
#form-login{
    margin-top: 20%;

    h5{
        line-height: 3em;
    }

    .btn{
        margin:24px 0px;
    }

    ul{
        list-style: none;
    }
}

.mgn-v{
    margin-top: 12px;
    margin-bottom: 12px;
}

.mgn-h{
    margin-left: 12px;
    margin-right: 12px;
}

.modal {    
    background-color: #fff;
    bottom: 0;
    height: 0vh;
    overflow-y: auto;
    position: fixed;
    transition: height .25s;
    width: 100vw;
    z-index: 4;

    &.is-visible {
        height: 100vh;
    }
}

.c-wt{
    color: #fff !important;
}

#page-userprofile{
    table#tb-profile{
        width:100%;
        border: 0px;
    }
}



#page-404{
    h1{
        text-align:center;
    }
    .links-404{
        width: 100%;
        padding: 24px 0px;
        text-align:center;
        a{
            font-size: 2em;
        }
    }
}

.box-available{
    @include background-gradient(#37d077, #2ab966);
    color: #fff;
    &:hover{
        cursor: pointer;
    }
}

.box-selected{
    @include background-gradient(#95a5a6, #7f8c8d);

    color: #fff;
}

.box-blocked{
    @include background-gradient(#D91E18, #D91A18);
    color: #fff;
}

.box-discipline{
    &.panel-info{
        h4{
            color: #fff;

            i.fa{
                margin-right: 12px;
            }

        }

        table{
            th{
            width: 15%;
            text-align: center;
            vertical-align: middle;
                i.fa{
                    font-size: 1.8em;
                    
                }
            }

            td{
                ul{
                    padding-left: 6px;
                    list-style:none;
                    line-height: 1.4em;
                }
            }
        }
    }
}