.mdl-textfield{
	width: 100%;
}

.mdl-layout-title{
	a{
		font-family: Devroye, Verdana;
		text-decoration: none;
	}
}

.mdi-2x{
	font-size: 2em;
	line-height: 1.5em;
}

.mdi-3x{
	font-size: 3em;
	line-height: 1.5em;
}

.mdi-4x{
	font-size: 4em;
	line-height: 1.5em;
}