@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: Devroye;
  src: url('../fonts/DEVROYUN.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DEVROYUN.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DEVROYE_.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@import 'mdl_overrides';
@import 'phone';
@import 'general';