doctype html
html(lang='pt-BR')
 head
  title SOMA
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome-4.5.0/css/font-awesome.min.css', media="all") 
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="/es6-shim/es6-shim.js")
  script(src="/angular2js/angular2-polyfills.js")
  script(src="/systemjs/system.js")
  script(src="/javascripts/rx.js")
  script(src="/angular2js/angular2.dev.js")
  script(src="/javascripts/jquery-2.1.4.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/private.js")
  script(src="/ng/tsbootconfig.ts")
 body(id="page-private")
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
   include partials/_header
   main.mdl-layout__content#page-content.page-content
    block content
   include partials/_footer