doctype html
html(lang='pt-BR' ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body(ng-app)
    include ../partials/header
    .container-fluid
        block content
    include ../partials/footer