.row
 .col-sm-4
 .col-sm-4
  ..form-control
   input.form-control#searchinput(type="search", placeholder="Digite um termo e pressione ENTER", name="searchcontents", [value]="", title="", (keyup.enter)="search()", [(ngModel)]="query_search")
 .col-sm-4
.row
 .col-sm-12
  section(*ngIf='result_search != null && result_search.length > 0')
   i.text-muted {{ result_search.length }} Resultados para {{ searchlastquery }}
   ul
    li(*ngFor="#item of result_search")
     {{ item.title }}
     a.text-primary(href="{{ item.url }}", target="_blank") (...)
  section(*ngIf='result_search != null && result_search.length == 0')
   i.text-danger Nenhum resultado para {{ searchlastquery }}
.row
  .section-title.col-sm-12
   h4 Monitorias
.row
  .col-sm-4(*ngFor="#dcp of list_course.discipline")
    .panel
     .panel-heading
      h4 {{ dcp.title }}
     .mdl-card__supporting-text
      small {{ dcp.details }}
     .mdl-card__actions.mdl-card--border
      table(width="100%")
       tr(*ngFor="#rf of dcp.reinforcement", (click)="toggleBind(rf, 1)", [class.box-selected]="rf.subs === true", [class.box-available]="rf.subs !== true")
        th
         i.mdi.mdi-arrow-right-bold-circle-outline.mdi-2x(title="Clique para se inscrever.", *ngIf="!rf.subs", [class.hide]="rf.subs === true")
         i.mdi.mdi-checkbox-marked-circle-outline.mdi-2x.link-bound(title="Já inscrito. Clique novamente para desfazer.", *ngIf="rf.subs === true", [class.hide]="rf.subs === false")
        td
         strong {{ rf.title }}
         br
         small {{ rf.timecreated }}