.mdl-grid
 .mdl-cell.mdl-cell--4-col
 .mdl-cell.mdl-cell--4-col
  .mdl-textfield.mdl-js-textfield
   input.mdl-textfield__input#searchinput(type="search", placeholder="Digite um termo e pressione ENTER", name="searchcontents", [value]="", title="", (keyup.enter)="search()", [(ngModel)]="query_search")
 .mdl-cell.mdl-cell--4-col
.mdl-grid
 .mdl-cell.mdl-cell--12-col
  section(*ngIf='result_search != null && result_search.length > 0')
   i.text-muted {{ result_search.length }} Resultados para {{ searchlastquery }}
   ul
    li(*ngFor="#item of result_search")
     {{ item.title }}
     a.text-primary(href="{{ item.url }}", target="_blank") (...)
  section(*ngIf='result_search != null && result_search.length == 0')
   i.text-danger Nenhum resultado para {{ searchlastquery }}
.mdl-grid
  .section-title.mdl-cell.mdl-cell--12-col
   h4 Simulados
.mdl-grid
  .mdl-cell.mdl-cell--4-col(*ngFor="#dcp of list_course.discipline")
    .mdl-card.mdl-shadow--2dp
     .mdl-card__title
      h4 {{ dcp.title }}
     .mdl-card__supporting-text
      small {{ dcp.details }}
     .mdl-card__actions.mdl-card--border
      table(width="100%")
       tr(*ngFor="#exm of dcp.examination", (click)="toggleBind(exm, 1)", [class.box-selected]="exm.subs === true", [class.box-available]="exm.subs !== true")
        th
         i.mdi.mdi-arrow-right-bold-circle-outline.mdi-2x(title="Clique para se inscrever.", *ngIf="!exm.subs", [class.hide]="exm.subs === true")
         i.mdi.mdi-checkbox-marked-circle-outline.mdi-2x.link-bound(title="Já inscrito. Clique novamente para desfazer.", *ngIf="exm.subs === true", [class.hide]="exm.subs === false")
        td
         strong {{ exm.title }}
         br
         small {{ exm.timecreated }}