.mdl-grid
 .mdl-cell.mdl-cell--4-col
 .mdl-cell.mdl-cell--4-col
  .mdl-textfield.mdl-js-textfield
   input.mdl-textfield__input#searchinput(type="search", placeholder="Digite um termo e pressione ENTER", name="searchcontents", [value]="", title="", (keyup.enter)="search()", [(ngModel)]="searchquery")
 .mdl-cell.mdl-cell--4-col
.mdl-grid
 .mdl-cell.mdl-cell--12-col
  section(*ngIf='searchresults != null && searchresults.length > 0')
   i.text-muted {{ searchresults.length }} Resultados para {{ searchlastquery }}
   ul
    li(*ngFor="#item of searchresults")
     {{ item.title }}
     a.text-primary(href="{{ item.url }}", target="_blank") (...)
  section(*ngIf='searchresults != null && searchresults.length == 0')
   i.text-danger Nenhum resultado para {{ searchlastquery }}
 .mdl-grid
  .section-title.mdl-cell.mdl-cell--12-col
   h4 Simulados
 .mdl-grid
  .mdl-cell.mdl-cell--4-col(*ngFor="#dcp of list_course")
    .mdl-card.mdl-shadow--2dp
     .mdl-card__title
      h4 {{ dcp.title }}
     .mdl-card__supporting-text
      small {{ dcp.details }}
     .mdl-card__actions.mdl-card--border
      table
       tr(*ngFor="#exm of dcp.examination", (click)="bind()")
        th
         i.mdi.mdi-arrow-right-bold-circle-outline.mdi-2x(title="Inscrição")
         i.mdi.mdi-checkbox-marked-circle-outline.mdi-2x.link-bound(title="Já inscrito")
        td
         strong {{ exm.title }}
         br
         small {{ exm.timecreated }}