form
    input.form-control(type="search", placeholder="Pesquisa", name="searchwarnings", [value]="", title="", (keyup.enter)="search()", [(ngModel)]="searchquery")
    i.text-muted X Resultados para {{ searchquery }}
dl
 - console.log(searchresults)
 .search-result( *ngFor="#item of searchresults") 
  dt {{ item.title }}
  dl {{ item.details }}

dl
for item, key in warnings
 dt= item.title
 dl= item.details
