form
 input.form-control(type="search", placeholder="Digite um termo e pressione ENTER", name="searchwarnings", [value]="", title="", (keyup.enter)="search()", [(ngModel)]="searchquery")
 section(*ngIf="searchresults.length > 0")
  i.text-muted {{ searchresults.length }} Resultados para {{ searchquery }}
  ul
   li(*ngFor="#item of searchresults")
    {{ item.title }}
    a.text-primary(href="{{ item.url }}", target="_blank") (...)
 section(*ngIf="searchresults.length == 0")
  i.text-danger Nenhum resultado para {{ searchquery }}
 hr
 .section-title
  h4 Recentes
 dl
  for item, key in warnings
   dt= item.title
    small.pull-right= item.timecreated
   dd= item.details
    small
     a(href="item.url") (...)