doctype html
html(lang='pt-BR')
  head
    title SOMA
    include ../partials/_resources
  body(id="page-private")
    header
      include ../partials/_header
    main
      block content
    footer
      include ../partials/_footer